<html>
<head>
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">
<META HTTP-EQUIV="Pragma" CONTENT="No-cache">
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=<<document_meta_charset>>">
<LINK REL="STYLESHEET" HREF="/vdsbackup/Sphera.css" TYPE="TEXT/CSS">
<base target="_self">
<script>
        function GetHeight(){
                NetScape = (navigator.appName == "Netscape")
                IExplore = (navigator.appName == "Microsoft Internet Explorer")
                BrowserVer = parseInt(navigator.appVersion);
                if (NetScape) {
                        if (BrowserVer<5){
                                return parseInt(self.innerHeight);
                        }
                        else{
                                return parseInt(self.innerHeight);
                        }
                }
                else if (IExplore) {
                        return parseInt(document.body.clientHeight);
                }
        }
	 function Do_Delete(del_url){
                msg="<<l_delete_index>>";
                x=confirm(msg);
                if(x){
                        document.location=del_url;
                }

        }
</script>
</head>
<body leftmargin=0 topmargin=0 marginwidth="0" marginheight="0">
<form method="POST" action="<<SCRIPT_URL>>" target="_self" name="form1">
<CENTER>
<table width=100% border=0 cellspacing=0 cellpadding=0 height="100%">
<tr class="MainHeader">
        <td nowrap width=55% height="50">&nbsp;&nbsp;&nbsp;&nbsp;<font face="Verdana" size="3" color="#FFFFFF"><b><<TITLE>></b></font></td>
        <td>&nbsp;</td>
        <td align="right"><img src="/vdsbackup/sphera_logo_small.gif" width="38" height="46">&nbsp;&nbsp;&nbsp;&nbsp</td>
</tr><tr>
        <td colspan=2 bgcolor="#CBD4F1" height="24">&nbsp;&nbsp;&nbsp;&nbsp;<a  class="tabFocus" style="text-align: left;"><<l_choose_select>>:</a></td>
	<td bgcolor="#CBD4F1" align="right" valign="bottom">
	<a href="#"  onclick="window.open('<<HELPURL>>','help_file','scrollbars=yes,location=no,menubar=no,status=no,titlebar=no,resizable,height=550px width=750px,left=1,top=1, copyhistory=yes');">
<img src="/vdsbackup/english/help.gif" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;
</td>
</tr>
<tr>
	<script>
        var tmp=GetHeight()-50-24-40;
	if (tmp<0) {tmp=0};
        document.write("<td bgcolor=\"#FFFFFF\" align=center valign=top colspan=3 height=\"" + tmp + "\">");
        </script>
	<!td colspan=3 width=100% align=center height="100%">
		<table border="0" width="98%" cellspacing="1" cellpadding="4"  bgcolor="#F4E5B8">
		<tr>
			<td bgcolor="#F4E5B8" align="center" height="30" > &nbsp </td>
			<td bgcolor="#F4E5B8" align="center" height="30" ><B><a class="BrownFont"><<l_choose_backup_name>></td>
			<td bgcolor="#F4E5B8" align="center"><B><a class="BrownFont"><<l_backup_file>></td>
			<td bgcolor="#F4E5B8" align="center"><B><a class="BrownFont"><<l_backup_type>></td>
			<td bgcolor="#F4E5B8" align="center"><B><a class="BrownFont"><<l_modify>></td>
			<td bgcolor="#F4E5B8" align="center"><B><a class="BrownFont"><<l_date_create>></td>
			<td bgcolor="#F4E5B8" align="center"><B><a class="BrownFont"><<l_size>>(Kb)<BR><font size=1><<l_no_comp>></td>
			<td bgcolor="#F4E5B8" align="center"><B><a class="BrownFont"><font size=1><<l_delete_entry>></td>
		</tr>
		<<INDEXS>>
		</table>
	<<SCOMM>>
		<table border="0" width="98%" cellspacing="1" cellpadding="4"  bgcolor="#F4E5B8">
                 <tr>
                        <td nowrap width=98% height="30" size="20"><a  class="tabFocus" style="text-align: left;"><<l_pwd_backup_name>></a></td>
                </tr>
                <tr>
                        <td nowrap width=98% height="30" size="20">
                        <B><a class="BrownFont"><<l_pass_one>>: <input type="password" name="pass1" size="20"></a>
                        </td>
                </tr>
                <tr>
                        <td nowrap width=98% height="30">
                        </td>
                </tr>
                </table>
	<<ECOMM>>
</td>
</tr>
	<tr><td colspan=3 bgcolor="#FFFFFF" height="40">	
		<table width=100% border=0 cellspacing=0>
		<tr>
			<td align="right" width="70%">
			<!a href="/cgi-bin/vdsbackup/vdsbackup.cgi?lang=<<LANG>>" target="_top">
			<a href="javascript:self.close();">	
			<img src="/vdsbackup/english/Cancle.gif" border=0></a>
			</td>
		        <td align="right" width="20%"><<NO_NEXT>>INPUT TYPE=IMAGE NAME="image" SRC="/vdsbackup/english/next.gif" border=0></td>
		        <td>&nbsp;</td>
		</tr></table>
	</td></tr>


</tr></table>
<input type="hidden" name="action" value="showframeindex">
<input type="hidden" name="init" value="true">
<input type="hidden" name="lang" value="<<LANG>>">
</FORM>

</body>
</html>
