<html>
<head>
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">
<META HTTP-EQUIV="Pragma" CONTENT="No-cache">
</head>
<!-- frames -->
<frameset  rows="100,*,40" noresize marginwidth="0" marginheight="0" frameborder="0" framespacing="0" topmargin="0" leftmargin="0" border="0">
    <frame name="top" src="/cgi-bin/vdsbackup/vdsbackup.cgi?action=showtop&indexname=<<BACKUPFILE>>&userfile=<<USERFILE>>&lang=<<LANG>>" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" noresize framespacing="0" topmargin="0" leftmargin="0">
    <frameset  cols="45%,10%,*" noresize marginwidth="0" marginheight="0" frameborder="0" framespacing="0" topmargin="0" leftmargin="0">
	<frameset  rows="27,*,27" noresize marginwidth="0" marginheight="0" frameborder="0" framespacing="0" topmargin="0" leftmargin="0">
		<frame name="left_top" src="/vdsbackup/empty.htm" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" noresize framespacing="0" topmargin="0" leftmargin="0">
	        <frame name="left" src="/cgi-bin/vdsbackup/vdsbackup.cgi?action=showindex&indexname=<<BACKUPFILE>>&userfile=<<USERFILE>>&lang=<<LANG>>" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0" noresize framespacing="0" topmargin="0" leftmargin="0">
		<frame name="left_bottom" src="/vdsbackup/empty.htm" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" noresize framespacing="0" topmargin="0" leftmargin="0">
	</frameset>
        <frame name="center" src="/vdsbackup/buttons.htm" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" noresize framespacing="0" topmargin="0" leftmargin="0">
	<frameset  rows="27,*,27" noresize marginwidth="0" marginheight="0" frameborder="0" framespacing="0" topmargin="0" leftmargin="0">
		<frame name="right_top" src="/vdsbackup/empty.htm" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" noresize framespacing="0" topmargin="0" leftmargin="0">
        	<frame name="right" src="/cgi-bin/vdsbackup/vdsbackup.cgi?action=addindex&indexname=<<BACKUPFILE>>&userfile=<<USERFILE>>&lang=<<LANG>>" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0" noresize framespacing="0" topmargin="0" leftmargin="0">
		<frame name="right_bottom" src="/vdsbackup/empty.htm" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" noresize framespacing="0" topmargin="0" leftmargin="0">
	</frameset>
    </frameset>
    <frame name="bottom" src="/vdsbackup/empty.htm" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" noresize framespacing="0" topmargin="0" leftmargin="0">
</frameset>
</html>
